body {
  background: #f2f2f2;
  font-family: 'Saira', Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 3000;
  background: white;
  padding: 0px 130px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header span {
  color: #FFCB47;
}

.header .menu a,
.header .menu label {
  margin-left: 20px;
  text-decoration: none;
  color: #424B54;
  cursor: pointer;
}

.header .menu .striking {
  color: #e9b01f;
  border-bottom: 1px solid;
}

.principal {
  background: url("../img/images/img3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 580px;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal .opacity {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 203, 71, 0.85);
  position: absolute;
}

.principal .content {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  z-index: 2000;
  color: #424B54;
}

.categories {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.categories-box {
  width: 80%;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

.categories-box .category-name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  color: #000;
  padding: 5px;
  background: #ccc;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.categories-box .category-name:hover {
  background: #FFCB47;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #2f2f2f;
}

.categories-box input[id="1"] {
  margin-bottom: 100px;
}

.categories-box input[id="1"]:checked ~ .category-one {
  opacity: 1;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-box input[id="1"]:checked ~ .selectors .cat-one {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: #FFCB47;
  color: #2f2f2f;
}

.categories-box input[id="2"] {
  margin-bottom: 100px;
}

.categories-box input[id="2"]:checked ~ .category-two {
  opacity: 1;
  position: relative;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-box input[id="2"]:checked ~ .selectors .cat-two {
  background: #FFCB47;
  color: #2f2f2f;
}

.categories-box input[id="2"]:checked ~ .category-one {
  opacity: 0;
  position: absolute;
  display: none;
}

.categories-box input[id="3"] {
  margin-bottom: 100px;
}

.categories-box input[id="3"]:checked ~ .category-three {
  opacity: 1;
  position: relative;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-box input[id="3"]:checked ~ .selectors .cat-three {
  background: #FFCB47;
  color: #2f2f2f;
}

.categories-box input[id="3"]:checked ~ .category-one {
  opacity: 0;
  position: absolute;
  display: none;
}

.categories-box input[id="4"] {
  margin-bottom: 100px;
}

.categories-box input[id="4"]:checked ~ .category-four {
  opacity: 1;
  position: relative;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-box input[id="4"]:checked ~ .selectors .cat-four {
  background: #FFCB47;
  color: #2f2f2f;
}

.categories-box input[id="4"]:checked ~ .category-one {
  opacity: 0;
  position: absolute;
  display: none;
}

.categories-box .category-one {
  top: 40px;
  position: relative;
  width: 100%;
  height: auto;
  opacity: 1;
  color: #3d454d;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-box .category-one .items {
  background: white;
  width: 20px;
  height: 300px;
  min-width: 200px;
  max-width: 245px;
  border-radius: 5px;
  position: relative;
  margin: 10px 10px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories-box .category-one .items:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.categories-box .category-one .items .notice {
  font-size: 12px;
  position: absolute;
  padding: 10px 10px;
  color: #2f2f2f;
  bottom: 0%;
  text-align: center;
}

.categories-box .category-one .items a {
  color: #2f2f2f;
}

.categories-box .category-one .items .container-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.categories-box .category-one .items .container-info {
  margin: 0px 5px 5px 5px;
}

.categories-box .category-one .items .container-info h3 {
  margin-bottom: 10px;
}

.categories-box .category-one .items .container-info p {
  width: 100%;
  margin-bottom: 3px;
}

.categories-box .category-two {
  top: 40px;
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.categories-box .category-two .items {
  background: white;
  width: 20px;
  height: 300px;
  min-width: 200px;
  max-width: 245px;
  border-radius: 5px;
  position: relative;
  margin: 10px 10px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories-box .category-two .items:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.categories-box .category-two .items .notice {
  font-size: 12px;
  position: absolute;
  padding: 10px 10px;
  color: #2f2f2f;
  bottom: 0%;
  text-align: center;
}

.categories-box .category-two .items a {
  color: #2f2f2f;
}

.categories-box .category-two .items .container-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.categories-box .category-two .items .container-info {
  margin: 0px 5px 5px 5px;
}

.categories-box .category-two .items .container-info h3 {
  margin-bottom: 10px;
}

.categories-box .category-two .items .container-info p {
  width: 100%;
  margin-bottom: 3px;
}

.categories-box .category-three {
  top: 40px;
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.categories-box .category-three .items {
  background: white;
  width: 20px;
  height: 300px;
  min-width: 200px;
  max-width: 245px;
  border-radius: 5px;
  position: relative;
  margin: 10px 10px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories-box .category-three .items:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.categories-box .category-three .items .notice {
  font-size: 12px;
  position: absolute;
  padding: 10px 10px;
  color: #2f2f2f;
  bottom: 0%;
  text-align: center;
}

.categories-box .category-three .items a {
  color: #2f2f2f;
}

.categories-box .category-three .items .container-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.categories-box .category-three .items .container-info {
  margin: 0px 5px 5px 5px;
}

.categories-box .category-three .items .container-info h3 {
  margin-bottom: 10px;
}

.categories-box .category-three .items .container-info p {
  width: 100%;
  margin-bottom: 3px;
}

.categories-box .category-four {
  top: 40px;
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.categories-box .category-four .items {
  background: white;
  width: 20px;
  height: 300px;
  min-width: 200px;
  max-width: 245px;
  border-radius: 5px;
  position: relative;
  margin: 10px 10px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.categories-box .category-four .items:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.categories-box .category-four .items .notice {
  font-size: 12px;
  position: absolute;
  padding: 10px 10px;
  color: #2f2f2f;
  bottom: 0%;
  text-align: center;
}

.categories-box .category-four .items a {
  color: #2f2f2f;
}

.categories-box .category-four .items .container-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.categories-box .category-four .items .container-info {
  margin: 0px 5px 5px 5px;
}

.categories-box .category-four .items .container-info h3 {
  margin-bottom: 10px;
}

.categories-box .category-four .items .container-info p {
  width: 100%;
  margin-bottom: 3px;
}

.container-redes-footer {
  width: 100%;
  background: #fff;
  margin-top: 30px;
  padding-top: 30px;
}

.contact-title {
  text-align: center;
  color: #3d454d;
}

.redes {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes .redes-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.redes .redes-container a {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #424B54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes .redes-container a:hover {
  background: #424B54;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: white;
}

.redes .redes-container a .fab {
  font-size: 35px;
}

.footer {
  margin: 0px auto 0px auto;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(66, 75, 84, 0.5);
  color: #424B54;
  text-align: center;
}

.modal .window-modal {
  left: -400vh;
  position: fixed;
  z-index: 8000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .window-modal p {
  margin: auto;
  text-align: center;
  color: white;
  width: 80%;
}

.modal .window-modal .logo img {
  padding-top: 30px;
}

.modal .close-modal {
  right: 20px;
  top: 20px;
  position: fixed;
  z-index: 9000;
  color: white;
}

.modal .close-modal .fas {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal input[id="open-modal"]:checked ~ .window-modal {
  left: 0;
}

@media screen and (max-width: 822px) {
  .categories-box .category-one,
  .categories-box .category-two,
  .categories-box .category-three,
  .categories-box .category-four {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 742px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 0;
    padding-right: 0;
  }
  .header h2 {
    margin-top: 15px;
  }
  .header .menu {
    text-align: center;
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu a {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 530px) {
  .categories-box {
    width: 100%;
  }
  .principal .content {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .selectors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selectors .category-name {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .redes .redes-container {
    width: 70%;
  }
}
/*# sourceMappingURL=index.css.map */